<nav>
  <ul>
    <li><a href="/join">Join group</a></li>
    <% if (!isLoggedIn) { %>
      <% if (isInGroup) { %>
        <li><a href="/groups/<%= group._id %>">Current Group</a></li>
      <% } %>
			  <li class="auth"><a href="/auth/login">Login</a></li>
        <li class="auth"><a href="/auth/signup">Signup</a></li>
    <% } else { %>
    	<li><a href="/create-group">Create group</a></li>
      <li><a href="/groups">My groups</a></li>
			<li class="auth-btn"><form action="/auth/logout"><button type="submit">Logout</button></form></li>
			<li class="auth-btn"><form action="/auth/delete-account"><button type="submit">Delete Account</button></form></li>
    <% } %>
  </ul>
</nav>
<script src="/public/js/li-fix.js" defer></script>
