<%- include("../includes/head.ejs")%>
<link rel="stylesheet" href="/public/css/home.css">

  </head>

  <body>

    <%- include("../includes/navigation.ejs")%>
    
    <main>
      
      <h2>Welcome to File<span>Share</span></h2>
      <h4>Share files with your friends and colleagues fast and easy</h4>
      
    </main>
    <%- include('../includes/end.ejs') %>